body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 20px;
}

.error {
    color: red;
}

#startBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 204px;
}

#inputsDiv {
    margin-top: 10px;
}

#barr {
    border-top: 1px solid rgb(202, 202, 202);
    height: 20px;
    width: auto;
    margin-bottom: 10px;
}

#progress {
    /* background-color: rgb(0, 140, 255); */
    background-color: rgb(33, 200, 69);
    color: white;
    height: 20px;
}