body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.error {
    color: red;
}

#startBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 204px;
}

#inputsDiv {
    margin-top: 10px;
}

#bar {
    width: 204px;
    margin: 10px;
    color: white;
}

#progress {
    background-color: rgb(0, 140, 255);
    color: white;
    height: 10px;
}